<div class="TextInputPanel ui grid">
  <div class="row filename">
    <div class="six wide column">
      <div class="field">
        <label for="inputFilename">
          Filename
        </label>
        <input type="text" v-model="config.session.inputFilename" class="input-filename"
          id="inputFilename" />
      </div>
    </div>
    <div class="ten wide column" style="text-align:right; margin-bottom: 5px;">
      <!--
      <button type="button" class="ui mini icon basic button" v-on:click="loadExample">
        <i class="folder open outline icon"></i>
        Example
      </button>
      -->
      <div class="field">
        <select 
          class="ui mini search dropdown" 
          ref="Dropdown">
          <option value="">Example</option>
          <option v-for="e in examples" :value="e">{{ e }}</option>
        </select>
      </div>
      <div class="field">
        <button type="button" class="ui mini icon basic button" 
           v-on:click="loadExample">
          <i class="folder open icon"></i>
          Load
        </button>
        <button type="button" class="ui mini icon basic button" 
           v-on:click="downloadExample">
          <i class="download icon"></i>
          Download
        </button>

        <button type="button" class="ui mini icon basic button" v-on:click="$refs.inputFileUploadTrigger.click()">
          <i class="folder open outline icon"></i>
          Open
        </button>
        <input type="file" class="input-field" ref="inputFileUploadTrigger" id="input_file"
          accept=".txt,.csv,.ods,.xlsx,xls,.html,.htm" v-on:change="loadInputFile" />

      </div>

        
        <!--
        <button class="ui mini icon basic button" type="button" copy-from="#input">
          <i class="copy icon"></i>
          Copy
        </button>
        -->
    </div>
  </div>
  <div class="row input-header">
    <div class="four wide column">
      <div class="inline field">
        <label class="input-label"
        for="input">Input</label>
      </div>
        
    </div>
    <div class="twelve wide column">
      
    </div>
  </div>
  <div class="row input-row">
    <div class="sixteen wide column input-textarea-container">
      <template v-if="config.session.inputFormat === 'text'">

        <!-- http://blog.fukuball.com/ru-he-shi-yong-jieba-jie-ba-zhong-wen-fen-ci-cheng-shi/ -->
        <textarea name="input" id="input" class="ui raised fluid segment input-textarea" v-model="config.session.inputText"></textarea>
      </template>
      <template v-if="config.session.inputFormat === 'table'">
        <div ref="InputTable"></div>
      </template>
    </div>
  </div>
</div>