<!DOCTYPE html>
<html>
  <head>
    <title>jieba-js demo</title>
    <link rel="icon" type="image/png" href="icon.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
    <link rel="stylesheet" href="html-lib/style.css" />
    -->

    <script src="jquery.js"></script>
    <!--
    <script src="require-jieba-js.js"></script>
    -->

    <link rel="stylesheet" href="html-lib/vendors/semantic-ui/semantic.min.css" />
    <script src="html-lib/vendors/semantic-ui/semantic.min.js"></script>
    <!-- <script src="html-lib/Garlic.js/garlic.js"></script> -->
    <script src="html-lib/input-file-loader.js"></script>
    <script src="html-lib/vendors/FileSaver.js"></script>
    <script src="html-lib/vendors/clipboard/clipboard.min.js"></script>
    <script src="html-lib/vendors/clipboard/puli-util.clipboard.js"></script>
    <script src="html-lib/vendors/puli-post-message-api/puli-post-message-api.js"></script>
    <script src="html-lib/vendors/Porter-Stemmer/PorterStemmer1980.min.js"></script>
    <script src="html-lib/vendors/vue/vue.min.js"></script>
    <script src="html-lib/vendors/date-helper.js"></script>

    <script src="html-lib/vendors/js-xlsx/shim.js"></script>
    <script src="html-lib/vendors/js-xlsx/full/suppress_export.js"></script>
    <script src="html-lib/vendors/js-xlsx/full/jszip.js"></script>
    <script src="html-lib/vendors/js-xlsx/full/cpexcel.js"></script>
    <script src="html-lib/vendors/js-xlsx/full/xlsx.js"></script>

    <link rel="stylesheet/less" type="text/css" href="html-lib/styles/styles.less" />
    <script>less = {env: 'production'};</script>
    <script src="html-lib/vendors/less/less.min.js"></script>

  </head>
  <body>


    <form onsubmit="return false;" class="ui form" id="app">

      <div class="ui grid text-panel"
           v-if="displayPanel === 'text'">
        <div class="row">
          <div class="ten wide column">
            <label class="ui header">Input Raw Text</label>
          </div>
          <div class="six wide column" style="text-align:right; margin-bottom: 5px;">
            <button 
              class="ui mini icon basic button" 
              v-on:click="$refs.inputFileUploadTrigger.click()">
              <i class="folder open outline icon"></i>
            </button>
            <input 
              type="file" 
              class="input-field"
              ref="inputFileUploadTrigger"
              id="input_file"
              accept=".txt,.csv,.ods,.xlsx,xls,.html,.htm"
              v-on:change="loadInputFile" />
            <button class="ui mini icon basic button" copy-from="#input">
              <i class="copy icon"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <div class="inline fields">
              <label>
                Filename
              </label>
              <input 
                type="text" 
                v-model="inputFilename"
                class="input-filename"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <!-- http://blog.fukuball.com/ru-he-shi-yong-jieba-jie-ba-zhong-wen-fen-ci-cheng-shi/ -->
            <textarea 
              name="input" 
              id="input" 
              class="ui raised fluid segment input-textarea"
              v-model="inputText"
              ></textarea>
          </div>
        </div>

        <div class="row">
          <div class="sixteen wide column">
            <button 
              type="button"
              class="ui fluid button"
              v-on:click="processOutput"
              v-bind:class="{'green': configChanged }">
              START SEGMENTATION
            </button>
          </div>
        </div>

        <div class="row">
          <div class="sixteen wide column">
            <label class="ui header">Output Segmentation Result</label>
          </div>
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <textarea 
              name="output" 
              id="output" 
              class="ui raised segment output-textarea" 
              data-storage="false"
              v-model="outputText"
              ></textarea>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="ui top attached fluid buttons"
                 v-bind:class="{'disabled': outputButtonDisabled }">
              <button
                type="button"
                class="ui button"
                v-on:click="copyOutput"
                v-bind:class="{'disabled': outputButtonDisabled }">
                <i class="copy icon"></i>
                Copy
              </button>
              <button
                type="button"
                class="ui button"
                v-on:click="saveAsText"
                v-bind:class="{'disabled': outputButtonDisabled }">
                <i class="file alternate outline icon"></i>
                Save as text
              </button>
              <button
                type="button"
                class="ui button"
                v-on:click="saveAsSheet"
                v-bind:class="{'disabled': outputButtonDisabled }">
                <i class="table icon"></i>
                Save as sheet
              </button>
              <button
                type="button"
                class="ui button"
                v-on:click="drawWordCloud"
                v-bind:class="{'disabled': outputButtonDisabled }">
                <i class="cloud icon"></i>
                Draw word cloud
              </button>
              <button
                type="button"
                class="ui button"
                v-on:click="analyzeText"
                v-bind:class="{'disabled': outputButtonDisabled }">
                <i class="crosshairs icon"></i>
                Analyze text
              </button>
              <button
                type="button"
                class="ui button"
                v-on:click="extractThemes"
                v-bind:class="{'disabled': outputButtonDisabled }">
                <i class="lightbulb outline icon"></i>
                Topic modeling
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- =============================================================== -->

      <div class="ui grid configuration-panel"
           v-if="displayPanel === 'configuration'"
           v-bind:class="{'n-gram': (segmentationMethod === 'n-gram')}">
        <div class="row">
          <div class="ten wide column">
            <label class="ui header">Configuration</label>
          </div>
          <div class="six wide column" 
               style="text-align:right; margin-bottom: 5px;">
            <button 
              class="ui mini icon basic button" 
              v-on:click="$refs.InputConfigFileTrigger.click();">
              <i class="folder open outline icon"></i>
            </button>
            <input 
              type="file" 
              class="input-field" 
              ref="InputConfigFileTrigger"
              id="input_config_file"
              accept=".ods"
              v-on:change="loadConfigFile" />

            <button class="ui mini icon basic button"
                    v-on:click="downloadConfiguration">
              <i class="save outline icon"></i>
            </button>
          </div>
        </div>

        <!-- ================================= -->

        <div class="row">
          <div class="sixteen wide column">
            <div class="ui form">

              <div class="three fields">
                <div class="field">

                  <label>
                    Segmentation Method
                  </label>
                  <div class="inline fields">
                    <div class="field">

                    </div>
                    <div class="field" v-on:click="segmentationMethod = 'dictionary'">
                      <input type="radio" v-model="segmentationMethod" value="dictionary" />
                      <label>Dictionary</label>
                    </div>
                    <div class="field">
                      <input 
                        type="radio" 
                        v-model="segmentationMethod" 
                        value="n-gram" />
                    </div>
                    <div class="field">
                      <input 
                        type="number" 
                        v-model="nGramLength" 
                        class="n-gram-number"
                        v-on:change="segmentationMethod = 'n-gram'" />
                    </div>
                    <div class="field clickable" v-on:click="segmentationMethod = 'n-gram'">
                      <label>
                        - gram
                      </label>  
                    </div>

                  </div>
                </div>

                <div class="field">
                  <label>
                    Remove
                  </label>

                  <div class="inline fields">
                    <div class="field">
                      <div class="ui checkbox">
                        <input 
                          type="checkbox" 
                          v-model="removeEnglish">
                        <label>Remove English</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui checkbox">
                        <input 
                          type="checkbox" 
                          v-model="removeNumber">
                        <label>Remove Number</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field"
                     v-bind:class="{'disabled': removeEnglish}">
                  <label>
                    Use Porter Stemmer
                    <a href="https://github.com/kristopolous/Porter-Stemmer/blob/master/README.md" 
                       target="_blank">
                      (Help)
                    </a>
                  </label>

                  <div class="ui disabled checkbox">
                    <input 
                      type="checkbox" 
                      id="usePorterStemmer"
                      v-model="usePorterStemmer">
                    <label for="usePorterStemmer">Enable</label>
                  </div>
                </div>
              </div>

            </div>

            <template v-if="segmentationMethod === 'dictionary'">
              <div class="inline fields">
                <div class="field">
                  <label class="ui header">
                    User Dictionary
                  </label>
                </div>
                <!--
                <div class="field">
                  <button 
                    class="ui mini basic button" 
                    v-on:click="setExampleUserDictionary"
                    v-bind:class="{'disabled': (configUserDictionaryExample === configUserDictionary)}">
                    <i class="file alternate outline icon"></i>
                    example
                  </button>
                </div>
                -->
              </div>
              <div class="field">
                <textarea v-model="configUserDictionary"></textarea>
              </div>
            </template>
            <div class="field">
              <div class="inline fields">
                <div class="field">
                  <label class="ui header">
                    Word Remap
                  </label>
                </div>
                <!--
                <div class="field">
                  <button 
                    class="ui mini basic button" 
                    v-on:click="setExampleWordRemap"
                    v-bind:class="{'disabled': (configWordRemapExample === configWordRemap)}">
                    <i class="file alternate outline icon"></i>
                    example
                  </button>
                </div>
                -->
              </div>
              <textarea v-model="configWordRemap"></textarea>
            </div>
            <div class="field">
              <div class="inline fields">
                <div class="field">
                  <label class="ui header">
                    Stop Words
                  </label>
                </div>
                <div class="field">
                  <button 
                    class="ui mini basic button" 
                    v-on:click="loadFullStopWords">
                    <i class="file alternate outline icon"></i>
                    full
                  </button>

                  <!--
                  <button 
                    class="ui mini basic button" 
                    v-on:click="setExampleStopWords"
                    v-bind:class="{'disabled': (configStopWordsExample === configStopWords)}">
                    <i class="file alternate outline icon"></i>
                    example
                  </button>
                  -->
                </div>
              </div>
              <textarea v-model="configStopWords"></textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- =============================================================== -->

      <!-- =============================================================== -->
      <div class="menu-padding"></div>
      <div class="ui inverted two item bottom fixed menu">
        <a class="item"
           v-bind:class="{'active': (displayPanel === 'text')}"
           v-on:click="displayPanel = 'text'">
          <i class="file alternate icon"></i>
          Text
        </a>
        <a class="item"
           v-bind:class="{'active': (displayPanel === 'configuration')}"
           v-on:click="displayPanel = 'configuration'">
          <i class="cogs icon"></i>
          Configuration
        </a>
      </div>

      <div class="loading-modal" 
           v-if="processOutputWait">
        <img src="html-lib/loading.svg" />
      </div>

      <textarea 
        ref="outputCopyTextarea" 
        v-model="outputText"
        class="output-copy-textarea"
        ></textarea>

      <!-- =============================================================== -->

    </form>

    <!-- ========================================== -->

    <script src="html-lib/script.js"></script>
    <script src="html-lib/form-persist.js"></script>
    <script src="html-lib/vue-app.js"></script>

    <script src="html-lib/ga.js"></script>
  </body>
</html>