<div class="TextOutputSegPanel field">
  <label for="output">Output Segmentation Result</label>

  <div class="output-textarea-container">
    <template v-if="config.session.inputFormat === 'text'">
      <textarea name="output" id="output" 
      class="ui raised segment output-textarea"
      data-storage="false"
        :class="computedOutputTextClass"
        @click="initOutputText"
        ref="outputCopyTextarea"
        v-model="outputText"></textarea>
    </template>
    <!--
    <template v-if="config.session.inputFormat === 'table'">
      <div ref="outputTable"></div>
    </template>
    -->
  </div>
  <div class="buttons-panel">
    <div class="row file-button-row action-buttons">
      <div class="column">
        <div class="ui bottom attached fluid buttons" v-bind:class="{'disabled': outputButtonDisabled }">
          <button type="button" class="ui button" v-on:click="copyOutput"
            v-bind:class="{'disabled': outputButtonDisabled }">
            <i class="copy icon"></i>
            Copy
          </button>
          <button type="button" class="ui button" v-on:click="saveAsText"
            v-bind:class="{'disabled': outputButtonDisabled }"
            v-if="config.session.wordVectorModel !== 'Embbeding'">
            <i class="file alternate outline icon"></i>
            Save as text
          </button>
          <button type="button" class="ui button" v-on:click="saveOutputODS"
            v-bind:class="{'disabled': outputButtonDisabled }">
            <i class="table icon"></i>
            Save as sheet
          </button>
          <!--
                <button
                  type="button"
                  class="ui button"
                  v-on:click="saveAsSheet"
                  v-bind:class="{'disabled': outputButtonDisabled }">
                  <i class="table icon"></i>
                  Save as sheet
                </button>
                -->
        </div>
      </div>
    </div>
  </div>
</div>