<div class="TextOutputPanel ui grid">

  <div class="row output-header">

    <div :class="computedLeftOutputColumnClassName"
      v-if="config.session.wordVectorModel !== 'Embbeding'">
      <TextOutputSegPanel :config="config" :utils="utils" ref="TextOutputSegPanel"></TextOutputSegPanel>
    </div>

    <template v-if="config.session.wordVectorModel !== 'Embbeding'">
      <div :class="computedRightOutputColumnClassName">
        <TextOutputWordVectorPanel :config="config" :utils="utils" ref="TextOutputWordVectorPanel"></TextOutputWordVectorPanel>
      </div>
    </template>
    <template v-if="config.session.wordVectorModel === 'Embbeding'">
      <div class="eight wide column">
        <TextOutputTransPanel :config="config" :utils="utils" ref="TextOutputTransPanel"></TextOutputTransPanel>
      </div>
      <div class="eight wide column">
        <TextOutputEmbbedingPanel :config="config" :utils="utils" ref="TextOutputEmbbedingPanel"></TextOutputEmbbedingPanel>
      </div>
    </template>
      
    
  </div>

  <textarea 
    ref="outputCopyTextarea" 
    v-model="config.state.outputText"
    class="output-copy-textarea"
    ></textarea>
</div>