input.input-field[type='file'] {
  display: none;
}

.fields.config textarea {
  height: 9em !important;
  min-height: inherit !important;
}

.n-gram-number {
  width: 4rem !important;
}

.input-textarea {
  height: calc(100vh - 8rem) !important;
  max-height: 100vh !important;
}

.step {
  cursor: pointer;
  
  &.active {
    cursor: default !important;
  }
}

.clickable {
  cursor: pointer;
}

.configuration-step {
  textarea {
    max-height: 100vh !important;
    height: calc((100vh - 28rem) / 3) !important;
  }
}

label {
  user-select: none;
  
  &[for] {
    cursor: pointer;
  }
}