<form class="Index ui form">
  <div class="loading-modal" 
       v-show="config.state.processOutputWait">
    <img :src="loadingSVG" />
  </div>

  <PanelMenu :config="config" :utils="utils" ref="PanelMenu"></PanelMenu>
  <ConfigurationPanel :config="config" :utils="utils" ref="ConfigurationPanel"
    v-show="config.session.displayPanel === 'configuration'"></ConfigurationPanel>
  <TextPanel :config="config" :utils="utils" ref="TextPanel"
    v-show="config.session.displayPanel === 'text'"></TextPanel>
</form>
  